asgiref==3.4.0
config==0.3.9
dj-database-url==0.5.0
Django==1.11.17
django-bootstrap3==10.0.1
gunicorn==20.1.0
django-heroku==0.3.1
Pillow==8.3.0
psycopg2-binary==2.9.1
python-decouple==3.1
pytz==2018.5
sqlparse==0.4.1
whitenoise==5.2.0
